<h1>Task Manager</h1>


<% @tasks.each do |task| %>
    <p><input type="checkbox" name="Completed" <%= "checked" if task.completed %>><h2><%= link_to task.title, task_path(task) %> </h2></p>
  <% end %>

  <% @tasks.each do |task| %>
  <%= link_to "Delete", task_path(@tasks),
      method: :delete,
      data: { confirm: "Are you sure?" } %>
<% end %>

<h2><%= link_to "New task", tasks_new_path %></h2>

